header{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: blue;
    color: white;
    height: 100px;
    padding: 40px;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Seven Segment, sans-serif;
}