header{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: blue;
    color: white;
    height: 100px;
    padding: 40px;

}

.necktie{
    max-width: 25%;
    margin: 0 auto;
    margin-top: 100px;
}

.container{
    display: flex;
    border-radius: 2%;
    background-color: #cecece;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.bt-conf{
    font-size: 20px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Seven Segment, sans-serif;
}